@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-weight: 400;
  font-size: 16px;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --transition-efect: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --actions-color: #4b6cb7;
  --bg-color: rgb(247, 236, 236);
  --bg-color-white: rgb(255,255,255);
  --text-color-dark: #141414;
  --bg-color-positive: #68D391;
  --bg-color-negative: #E53E3E;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 320px;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

#root {
  width: 90%;
}

.container {
  margin: 30px auto;
  width: 100%;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: var(--bg-color-positive);;
}

.money.minus {
  color: var(--bg-color-negative);
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  transition: all 0.4s var(--transition-efect);
}

.btn.submit:disabled {
  background-color: #a6acb3;
  box-shadow: none;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
  transition: all 0.4 var(--transition-efect);
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  transition: all 0.4 var(--transition-efect);
}


.list li.plus {
  border-bottom: 2px solid var(--bg-color-positive);;
}

.list li.minus {
  border-bottom: 2px solid var(--bg-color-negative);;
}

.actions {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background: #192a52;
  opacity: 0;
  visibility: none;
  transform: translateX(-10%);
  transform-origin: left;
  transition: 
    transform 0.5s var(--transition-efect),
    visibility 0.6s var(--transition-efect),
    opacity 0.7s var(--transition-efect);
}

.actions__btn {
  width: 43px;
  height: 40px;
  text-align: center;
  background: transparent;
  border: none;
  margin: 0;
  background: white;
}

.actions__btn img {
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 0.5 var(--transition-efect);
  cursor: pointer;
}

.actions__btn img:hover {
  transform: scale(1.1);
}

.list li:hover .actions {
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
}

.react-confirm-alert-body {
  background: var(--bg-color-white);
}


.react-confirm-alert-body > h1 {
  margin-top: 0;
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
}

.react-confirm-alert-button-group > button {
  transition: all 0.5s var(--transition-efect);
  font-size: 0.9rem;
}

.react-confirm-alert-button-group > button:hover {
  opacity: 0.9;
}

.react-confirm-alert-button-group > button:last-child {
  background: #50C9C3;
}
